{% load static %}
        <div class="row mt-5">
        <div class="col-12 col-6 col-md-4 mb-4">
            {% include 'Main/Admin/sidebar1.html' %}
        </div>

        <div class="col-12 col-6 col-md-8">
            <div class="card rounded">
                <div class="card-body text-center">
                    <h2>SISTEMA INFORMASAUN ALUMNI</h2>
                    <h3>UNIVERSIDADE NACIONAL TIMOR-LOSA'E</h3>
                    <h4>UNTL-EDU-TL</h4>
                    <hr>
                    <img src="{% static 'image/UNTL.png' %}" class="d-md-none" height="200px" alt="UNTL Logo">
                </div>
            </div>
        </div>
    </div>