{% extends 'Main/Admin/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
     <li class="breadcrumb-item"><a href="{% url 'D_Lst' %}">Docente</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{legend|upper}}</li>
  </ol>
</nav>
    <div class="row">
        <!-- Table Content -->
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card rounded">
                <div class="card-header" style="background: #41d5f0;">
                    <h6 class="font-weight-bold text-white"><i class="fa fa-list"></i> {{legend|upper}}</h6>
                </div>
                <div class="card-body">
                    
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% crispy form %}

                        </form>

                </div>

            </div>
        </div> <!-- end content col -->
    </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
