{% load static %}
{% if user.is_authenticated %}
    {% if user.groups.all.0.name == 'Admin' or user.groups.all.0.name == 'Vice_Reitor' %}
    <nav class="navbar navbar-dark navbar-expand-md shadow fixed-top" style="background: #41d5f0;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'image/UNTL.png' %}" alt="PNTL"
                     class="brand-image img-circle elevation-3" style="opacity: .8; height: 40px;">
                <span class="ml-2"><b><strong>SI-ALUMNI-UNTL</strong></b></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1"
                    aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'index' %}">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'ALm' %}">
                                <i class="fa fa-graduation-cap"></i> Alumni
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'D_Lst' %}">
                                <i class="fa fa-users"></i> Docente
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                               <i class="fa fa-list"></i> Dadus
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'f_list' %}">
                                    <i class="fa fa-cube"></i> Faculdade
                                </a>
                                <a class="dropdown-item" href="{% url 'L_Deps' %}">
                                    <i class="fa fa-boxes fa-xs"></i> Departamento
                                </a>
                               
                            </div>
                        </li>
                            <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username|upper}}</a>
                            <div class="dropdown-menu" aria-labelledby="profile">
                                <a class="dropdown-item" href="{% url 'Perfil' %}"><i class="fa fa-user"></i> Perfil</a>
                                <a class="dropdown-item" href="{% url 'user-account' %}"><i class="fa fa-users"></i> Minha Conta</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sair</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    {% elif user.groups.all.0.name == 'Alumni' %}
    <nav class="navbar navbar-dark navbar-expand-md shadow fixed-top" style="background: #41d5f0;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'image/UNTL.png' %}" alt="PNTL"
                     class="brand-image img-circle elevation-3" style="opacity: .8; height: 40px;">
                <span class="ml-2"><b><strong>SI-ALUMNI-UNTL</strong></b></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1"
                    aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'index' %}">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'Lista-pesoal-alumni' %}">
                                <i class="fa fa-users"></i> Dadus Pessoal
                            </a>
                        </li>
                            <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username|upper}}</a>
                            <div class="dropdown-menu" aria-labelledby="profile">
                                <a class="dropdown-item" href="{% url 'Perfil' %}"><i class="fa fa-user"></i> Perfil</a>
                                <a class="dropdown-item" href="{% url 'user-account' %}"><i class="fa fa-users"></i> Minha Conta</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sair</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
{% endif %}