            <div class="card rounded border-primary">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a  href="{% url 'ALm' %}">
                                <i class="fas fa-user-graduate"></i> Alumi
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a  href="">
                                <i class="fa fa-volume-up"></i> Informasaun
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a  href="">
                                <i class="  fa fa-bars"></i> Slider
                            </a>
                        </li>
                        <li class="list-group-item">
                        <a  href="{% url 'A_Acti' %}">
                            <i class="fa fa-exchange-alt"></i> Actividade
                        </a>
                        </li>
                         <li class="list-group-item">
                        <a  href="{% url 'Au-list' %}">
                            <i class="fas fa-key"></i> Utilizador
                        </a>
                        </li>
                         <li class="list-group-item">
                        <a  href="">
                            <i class="fas fa-user-edit"></i> Rezistu Alumi
                        </a>
                        </li>
                         <li class="list-group-item">
                        <a  href="">
                            <i class="fa fa-check-circle"></i> Activa Registrasaun
                        </a>
                        </li>
                         <li class="list-group-item">
                        <a  href="{% url  'D_Lst' %}">
                            <i class="fa fa-user"></i> List Docente
                        </a>
                        </li>
                         <li class="list-group-item">
                        <a  href="">
                            <i class="fa fa-print"></i> Emprime Lista
                        </a>
                        </li>

                    <li class="list-group-item">
                        <a  href="">
                            <i class="fa fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                    </ul>
            </div>