{% load static %}
<div class="header-topbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-9">
                    <div class="header-top_address">
                        <div class="header-top_list">
                            <span class="icon-phone"></span>033024
                        </div>
                        <div class="header-top_list">
                            <span class="icon-envelope-open"></span>infountl@edu.com
                        </div>
                        <div class="header-top_list">
                            <span class="icon-location-pin"></span>Dili, Vera-Cruz, TL. {% now "Y" %}
                        </div>
                    </div>
                    <div class="header-top_login2">
                        <a href="contact">ALUMNI-UNTL</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="header-top_login mr-sm-3">
                        <a href="contact">Call-Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-toggle="affix">
        <div class="container nav-menu2">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar2 navbar-toggleable-md navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler2 navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                            <span class="icon-menu"></span>
                        </button>
                        <a href="/" class="navbar-brand nav-brand2"><img class="img img-responsive" width="40px;" src="{% static 'image/UNTL.png'%}"></a>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'u-perfile' %}">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Alumni' %}">Alumni</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog">Informasaun</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="galeri">Gallery</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="contact">Contact</a>
                                </li>
                             </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
      </div>
<!--//END HEADER -->